@import url('../../colors.css');


.btn-share{
    width: 30px;
    height: 30px;
    background: var(--light-grayish-blue);
    color: var(--desaturated-dark-blue);
}

.btn-share.active{
    background: var(--desaturated-dark-blue);
    color: var(--white);
}

.btn-share svg{
    width: 16px;
}