@import url('../../colors.css');

.container{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--very-dark-grayish-blue);
}

.container.compact{
    border-radius: .8rem;
    padding: .5rem 2rem;
}

.container .share{
    display: flex;
    align-items: center;
    flex: 1 0;
}

.container .text{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--desaturated-dark-blue);
}

.container .btn{
    color: var(--white);
}

.container .btn-facebook{
    margin-left: .5rem;
}